.sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon {font-size: 32px !important;    margin-bottom: 10px;text-align: center;}
.sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a{display: flex !important; flex-direction: column;align-items: center; text-align: center;}

// style 1 // 
@if $app_icon_style == "style_1" {
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name{color: #fff;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_app_name{color: #fff !important;}  
    .sh_entmate_theme_appmenu_div .dropdown-menu .dropdown-item.focus{background-color: transparent !important;}
}
// style 2 // 

@if  $app_icon_style == "style_2"{
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name{max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name{color: #fff;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_app_name{color: #fff;}

    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon,
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_fa_icon{color: #fff !important;}

    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app{text-shadow: none !important;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus img{box-shadow: none !important;transform: translateY(-4px);}   
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus{background-color: rgba(0, 0, 0, 0.08) !important;}
}

// style 3 // 

@if $app_icon_style == "style_3" {

    .sh_entmate_theme_appmenu_div .dropdown-menu .dropdown-item.focus{background-color: transparent !important;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name,
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_app_name{color: #fff !important;}  

    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app{text-shadow: none !important;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus img{box-shadow: none !important;transform: translateY(-4px);}   
} 

// style 4 //
@if $app_icon_style == "style_4" {
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon span{font-family: 'icomoon' !important;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name{max-width: 100%;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name{color: #fff;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_app_name{color: #fff;}

    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon span.path1:before{color: $dual_tone_icon_color_1; opacity: 1;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon span.path2:before{color: $dual_tone_icon_color_2; opacity:1;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus a{color: #fff !important;}

    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app{text-shadow: none !important;}
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus img{box-shadow: none !important;transform: translateY(-4px);}   
    .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus{background-color: rgba(0, 0, 0, 0.08) !important;}

    .o_web_client.o_rtl .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon{display: inline-flex;}
}


// night mode scss // 

.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app:hover .sh_fa_icon{color: #fff;}
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app a .sh_app_name,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_fa_icon{color: #dce1ff !important;}

.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_fa_icon,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus a,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app:hover .sh_app_name,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_app_name,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus .sh_fa_icon,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus .sh_fa_icon,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus .sh_fa_icon,
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app.focus:hover .sh_fa_icon{color: #4c84ff !important;}

.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus a .sh_fa_icon span.path1:before{color: #a1beff !important; opacity: 1;}
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app.focus a .sh_fa_icon span.path2:before{color: #4c84ff !important; opacity: 1;}

.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon span.path1:before{color: #a3a7bf !important; opacity: 1;}
.sh_night_mode .sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block span.dropdown-item.o_app a .sh_fa_icon span.path2:before{color: #dce1ff !important; opacity: 1;}

// v16 //
.sh_entmate_theme_appmenu_div div.o-dropdown--menu.dropdown-menu.d-block .dropdown-item.o_app .sh_app_name{text-shadow: 0 1px 1px rgba(0, 0, 0, 0.80);margin-top: 0.5rem !important;}