@if $is_sticky_form ==True {
    .modal.o_technical_modal .modal-content .modal-body.o_act_window {padding-top: 0px;}
    @media only screen and (max-width: 1420px) {
        .o_form_view .o_form_sheet_bg {display: inline;}
    }
    .o_content,
    .modal-content{max-width: 100%;}
    .o_content .o_form_sheet {overflow-x: auto;}
    .o_content .o_form_sheet .oe_button_box .o_dropdown_more {padding: 0.1em;width: min-content;}
    .o_content .o_form_statusbar {position: sticky !important;top: 0;z-index: 1;}   
    .o_content .oe_title span.o_field_widget {max-width: 100%;text-overflow: ellipsis;white-space: nowrap;overflow: hidden;width: initial;}
    .o_content .oe_title span:active {white-space: normal;}
}