/*
=======================================================================
				List Sticky Start
=======================================================================
*/
@if $is_sticky_list ==True {
    // Sticky Header & Footer in List View
    .o_list_view .table-responsive {overflow-x: initial !important;}
    .o_list_view .table-responsive .o_list_table thead,
    .o_list_view .table-responsive .o_list_table thead tr:nth-child(1) th{ position: sticky;top: 0;background-color: $o-list-footer-bg-color;}
    // Sticky Header & Footer in List View
    .o_list_view .table-responsive .o_list_table tfoot,
    .o_list_view .table-responsive .o_list_table tfoot tr:nth-child(1) td{ position: sticky;bottom: 0;background-color: $o-list-footer-bg-color;}
}

/*
=======================================================================
				List Sticky End
=======================================================================
*/